@model AboutPage
@{
    ViewData["Title"] = "About";
}

<div>
    @* this div display the cover banner *@
</div>
<div>
    @* this div display content of About Us blog *@
    <div>
        @* this div display cover image *@
        <img src="@Model.Abouts.ImageName" />
    </div>
    <div>
        @* This div display content *@
        <h2>WHO WE ARE</h2>
        <div>
            @* this div display main content  *@
            <div>
                @* Left content *@
                <p>@Model.Abouts.Description</p>
            </div>
            <div>
                @* Right content *@
                <p>@Model.Abouts.Description</p>
            </div>
        </div>
    </div>
</div>
<div>
    @* display service conent *@
    <div>
        @* display left service *@
        <div>
            @* display left icon *@
        </div>
        <div>
            @* display content in left service *@
            <h3>100% MONEY BACK</h3>
            <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
    </div>
    <div>
        @* display right service *@
        <div>
            @* display right icon *@
        </div>
        <div>
            @* display content in right service *@
            <h3>ONLINE SUPPORT 24/7</h3>
            <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
    </div>
</div>

<div>
    @* give each founder an id and fix width *@
    @foreach (var founder in Model.Founders)
    {
        <div>
            @* Display image of founder *@
            <img src="@founder.ImageName" />
        </div>
        <div>
            @* display quote founder *@
            <p>"@founder.Quote"</p>
            <div>
                @* Information of founder *@
                <span>@founder.Name</span>
                <a href="@founder.ContactLink">Contact with Facebook</a>
            </div>
        </div>
    }
</div>