@model IEnumerable<Project_PRN292_MVC.Models.Founders>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactLink)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FounderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FounderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FounderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
